* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.container .geral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: absolute;
    top: 200px;
    height: 70px;
}

.container .geral h2 {
    position: absolute;
    top: 0;
    font-size: 60px;
    letter-spacing: 5px;
}

.container .geral #input {
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    width: 50%;
    height: 100px;
}

.container .geral #input input {
    width: 90%;
    height: 30px;
    padding: 15px;
    border: 2px solid #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
    border-radius: 5px;
    transition: all 1s ease;
}

.container .geral #input input:focus {
    border: 2px solid rgb(24, 24, 255);
    box-shadow: 0 0 8px rgba(0, 4, 255, 0.5);
    outline: none;
}

.container .geral #adicionar {
    border: none;
    padding: 5px;
    width: 80px;
    height: 32px;
    border: 2px solid #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.tarefas {
    width: 50%;
    position: absolute;
    top: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.div-tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
                rgb(209, 213, 219) 0px 0px 0px 1px inset;
    min-width: 90%;
    border-radius: 10px;
}

.div-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.div-buttons button {
    width: 25px;
    height: 25px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
}

.button-apagar {
    background-color: rgb(194, 46, 46);
}

.button-completar {
    background-color: rgb(4, 146, 4);
}

.none{
    display: none;
}


@media (max-width: 900px) {

    .container .geral {
        width: 70%;
        top: 130px;
    }

    .container .geral h2 {
        font-size: 45px;
    }

    .container .geral #input {
        width: 70%;
        margin-top: 200px;
    }

    .tarefas {
        width: 70%;
        top: 380px;
    }
}


@media (max-width: 600px) {

    .container .geral {
        width: 90%;
        top: 120px;
    }

    .container .geral h2 {
        font-size: 35px;
        letter-spacing: 2px;
    }

    .container .geral #input {
        width: 90%;
        margin-top: 180px;
        flex-direction: column;
    }

    #adicionar {
        width: 100%;
    }

    .tarefas {
        width: 90%;
        top: 350px;
    }

    .div-tarefa {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .div-buttons {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
}


@media (max-width: 420px) {
    .container .geral h2 {
        font-size: 28px;
    }

    .container .geral #input input {
        width: 100%;
        padding: 10px;
    }

    .tarefas {
        top: 300px;
    }
}
